[Oo]bj
[Bb]in
Debug
Release
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.docstates
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
App_Data/
packages/
*.psess
*.vsp
*.~*
*.dsk
*.dcu
*.ddp
*.dof
*.exe
*.cbk
*.cfg
*.bpl
*.dcp
*.map
*.drc