<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttp" sendTimeout="00:05:00" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/FileUploadDemoServer/FileUploadService/"
                binding="basicHttpBinding" bindingConfiguration="basicHttp"
                contract="FileUploadService.IFileUploadService" name="BasicHttpBinding_IFileUploadService" />
        </client>
    </system.serviceModel>
</configuration>